
.ui.menu {
    background-color: #5a3e36;
    color: white;
    font-size: 1.3rem;
    border-radius: 0;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.ui.buttons{
    position: absolute;
    margin-top: -14px;
}

body{
    font-family: sans-serif;
    background-color: #f4f1ea;


}

.ui.padded.stackable.grid.fluid > .three.wide.column,.ui.padded.stackable.grid.fluid > .nine.wide.column,.ui.padded.stackable.grid.fluid > .four.wide.column{
    height: auto;
    position:relative;

}

.nav-logo {
    height: 12.80vh;
    margin-right: 20px;
    flex-shrink: 0;
}

.menu-items {
    display: flex;
    gap: 20px;
}
.right.menu {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
    justify-content: flex-end;
}


.ui.button{
    font-size: 1rem;
    padding: 8px 14px;

}

.ui.button a{
    color: #3a2e1f;
}

.right.menu{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;

}

.ui.menu .item {
    color: white;
    padding: 18px 25px;
    display: flex;
    align-items: center;
}
.ui.menu .item:hover,
.ui.menu .item:focus {
    background-color: #8a6353;
    transition: background-color 0.3s ease-in-out;
}

/** profile CSS **/

.four.wide.column{
    position: absolute;
    display: flex;
    flex-direction: row;
    width:100%;
    background-color: #c7b8ab;


}
.ui.padded.stackable.grid.fluid > .four.wide.column div{
    padding-bottom: 15px;
    justify-items: center;


}


.profile-container{
    margin-top: -50px;
    width:100%;
    height:160px;


}
.ui.medium.circular.image{
    height:100%;
    width:150px;

}


.profile-content > .ui.header, .profile-content > div{
    margin-bottom: 23%;
}

.profile-content .ui.header:first-child {
    font-size: 1.2rem;


}
.ui.header{
    color: #42322d;
}

/** main **/

.activity{
    margin-left:10px;
    margin-top:50px;
    z-index: 1;
    position: relative;
    display:none;

}

.library{
    margin-left:10px;
    margin-top:50px;
    position: relative;
    display: block;
    z-index: 200;

}
.current-book{
    display:flex;
    margin-top:25px;
    gap:20px;
    align-items: center;
    margin-bottom:50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.books{
    display: flex;
    gap:20px;
    margin-top:25px;
    align-items: center;
    margin-bottom: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    overflow: auto; /** optional if arrow doesnt work **/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.book img{
    width:100px;
    height:150px;
    border-radius: 5px;
}

.book:hover{
    transform: translateY(-5px);
    text-decoration: none;
    transition: transform 0.3s ease;


}

.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;



}
.book p{
    margin-top:5px;
    color: #3a2e1f;
    font-weight: bold;
    height:45px;
    font-family: 'Georgia', serif;


}


/** favorite books **/

.three.wide.column{
    background-color: #c7b8ab;
}

.three.wide.column div{

    display: flex;
    flex-direction: column;
    padding-bottom:25px;
    align-items: center;
}

/** bio **/

.bio.sixteen.wide.column{
    background-color: #553e37;
    color:white;
}

/** footer **/

footer .four.wide.column{
    background-color: #553e37;
}

.footer {
    background-color: #553e37;
    color:  white;
    text-align: center;
}

.footer .ui.inverted.header {
    font-size: 1.4rem;
}

.footer .ui.inverted.link.list .item {
    transition: color 0.3s ease-in-out;
    font-size: 1.2rem;
}

.footer .ui.inverted.link.list .item:hover {
    color: #8a6353;
}

.footer .ui.action.input input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #8a6353;
}

.footer .ui.center.aligned.container p {
    margin-top: 30px;
    font-size: 1rem;
}

/* responsive media query for mobile view */
@media (max-width: 900px) {


    .ui.menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        height: auto;
        position: relative;
        order:1;
    }

    .bio{
        order:2;
    }

    .profile{
        order:3;
    }

    .nine.wide.column{
        order:4;
    }

    .three.wide.column{
        order:5;
    }

    .footer{
        order:6;
    }
    .nav-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        order: 1;
    }


    .nav-logo {
        height: 45px;
    }


    .right.menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 8px;
        order: 2;
    }


    .right.menu .item {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 5px;
    }


    .right.menu .ui.button {
        width: 40%;
        font-size: 0.8rem;
        padding: 5px 8px;
        text-align: center;
    }


    .menu-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }


    .menu-items a {
        padding: 10px;
    }
}
